[run]
omit =
  .venv/*,
  *tests/*,
  manage.py,
  *migrations*,
  */static/*,
  */static_dev/*,
  */media/*,
  local_settings.py,
  */urls.py,
  */wsgi.py,
  blossom/management/commands/*,
  blossom/middleware.py,
  blossom/instrumentation.py,
  blossom/settings/*,
  blossom/bootstrap/*,
  blossom/social_auth/*,
  blossom/conftest.py,
  blossom/docs/*
  blossom/instrumentation.py
