[flake8]
application-import-names = api,app,authentication,blossom,blossom_wiki,engineeringblog,ocr,payments,utils,website
ignore = ANN101, ANN401, D100, D101, D105, D106, W503, E203
import-order-style = pycharm
max-complexity = 10
max-line-length = 90
use-varnames-strict-mode = true
exclude =  .git,__pycache__,build,dist,.venv,blossom/bootstrap/*,*/migrations/*,docker/*
per-file-ignores =
    blossom/settings/routing.py:F401,F403
