{% extends "website/partials/base.partial" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <h1>
        Admin Panel - Posts
    </h1>
    <p>
        Click on a title to edit it.
    </p>

    <a href="{% url 'post_create' %}" class="btn btn-primary">Create new post</a>
    <p></p>
    <table class="table table-hover" id="postTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Published?</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for p in posts %}
            <tr>
                <th scope="row"><a href="{{ p.get_absolute_url }}edit">{{ p.id }}</a></th>
                <td><a href="{{ p.get_absolute_url }}edit">{{ p.title }}</a></td>
                <td>{{ p.published }}</td>
                <td>{{ p.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#postTable').DataTable();
        });
    </script>

{% endblock %}
