{% extends "website/partials/base.partial" %}

{% block content %}
    <h1>Code of Conduct</h1>

    <p>
        Before continuing, please take a moment to accept our Code of Conduct. You are expected to abide by this Code
        at all times when acting as a Transcriber.
    </p>
    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Follow the Format Guides</h3>
        <div class="ms-3">
            All transcriptions <strong>must</strong> follow our
            <a href="https://www.reddit.com/r/TranscribersOfReddit/wiki/guidelines" target="_blank">format guides</a>.
            This helps make all transcriptions consistent and shows a good first impression to other users.
            <div class="mx-3 py-2"><strong>This is mandatory.</strong></div>
            Consistently ignoring formatting after warnings from the mods will result in a temporary ban (see below).
        </div>
    </div>

    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Be Aware of Your Surroundings</h3>
        <div class="ms-3">
            As a transcriber, you are temporarily the face of /r/TranscribersOfReddit and a guest in another community.
            Be courteous and friendly. If you do not know the answer to someone’s question, refer them to our
            <a href="https://www.reddit.com/r/TranscribersOfReddit/wiki/index" target="_blank">FAQ</a> or
            <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTranscribersOfReddit" target="_blank">modmail</a>.
            Do not be rude or sarcastic, even to trolls: we have suggestions about responding to questions and criticism
            <a href="https://www.reddit.com/r/TranscribersOfReddit/wiki/conduct" target="_blank">here</a>.
        </div>
    </div>

    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Use Formal Language</h3>
        <div class="ms-3">
            When talking to other users in your capacity as a Transcriber, please always use (relatively) formal
            language and proper grammar (capitalization, no abbreviations, and punctuation as appropriate).
        </div>
    </div>

    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Ask Us if You Need Help</h3>
        <div class="ms-3">
            If you have any questions or find yourself in a situation that you cannot properly resolve, you can reach us
            through
            <a href="https://www.reddit.com/message/compose?to=%2Fr%2FTranscribersOfReddit" target="_blank">modmail</a>
            the
            <a href="https://discord.gg/ZDDE3Pj" target="_blank">Discord server</a>, or by mentioning a mod by username.
        </div>
    </div>

    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Check the Parent Sub’s Rules</h3>
        <div class="ms-3">
            Some partner subreddits have rules against posts with personal information, such as usernames. These posts
            should not be transcribed, even if they appear in the queue. Transcribing a rule-breaking post can result in
            bans from the parent subreddit as well as penalties from /r/TranscribersOfReddit.
        </div>
    </div>

    <hr>
    <div class="my-4">
        <h3 class="fs-4 mb-3">Penalties</h3>
        <div class="ms-3">
            Failure to follow the above rules after a warning from a moderator is worthy of a temporary ban of 7 days.
            This is to allow time for further discussion with the mods about how to be a good transcriber. If issues
            continue, a permanent ban may be issued. We are providing a service for those who need it, and these rules
            help us do that to the best of our ability. Failing to follow them means our service is no longer helpful.
        </div>
    </div>
    <form method="post" action="">
        <div class="row my-5">
            <div class="col-0 col-sm-3"></div>
            <div class="col-12 col-sm-6">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">I accept!</button>
                </div>
            </div>
            <div class="col-0 col-sm-3"></div>
        </div>
    </form>
{% endblock %}
