name: Tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10.x'
    - uses: snok/install-poetry@v1.3.1
      with:
        virtualenvs-create: true
    - name: Install Dependencies
      run: |
        sudo apt-get install libjpeg8 libjpeg-dev libpng-dev libpq-dev -y
        poetry install
    - name: Run Tests
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      # the secret will not be present on any PRs from forks, so this stops
      # the job from exploding
      run: |
        poetry run pytest --workers=auto
        if [ "$COVERALLS_REPO_TOKEN" != "" ]; then
          poetry run coveralls
        fi
